dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.vscode/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
ghcid.txt
*.wav
*.cf32
soapy-sdr.AppDir/
Soapy_SDR-x86_64.AppImage

